@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'minecraft';
  color: white;
}

#scrollable-container::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

#scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
}

#scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 145, 145);
}

#scrollable-container::-webkit-scrollbar-thumb:active {
  background-color: rgb(184, 184, 184);
}

@font-face {
  font-family: 'minecraft';
  src: url('../public/fonts/minecraft.woff') format('woff');
}
  
@font-face {
  font-family: 'mojangStudios';
  src: url('../public//fonts/mojang-studios.ttf');
}

@font-face {
  font-family: 'round';
  src: url('../public/fonts/round.otf');
}