@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'minecraft';
  color: white;
}

@font-face {
  font-family: 'minecraft';
  src: url('../public/fonts/minecraft.woff') format('woff');
}
  
@font-face {
  font-family: 'mojangStudios';
  src: url('../public//fonts/mojang-studios.ttf');
}

@font-face {
  font-family: 'round';
  src: url('../public/fonts/round.otf');
}