@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'minecraft';
  src: url('../public/fonts/minecraft.woff') format('woff');
}
  
  @font-face {
  font-family: 'mojangStudios';
  src: url('../public//fonts/mojang-studios.ttf');
}